Package Control.ca-bundle
Package Control.ca-list
Package Control.last-run
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package Control.merged-ca-bundle
Package Control.cache/
Color Highlighter
bh_unicode_properties.cache
SublimeLinter/*.tmTheme
